* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  padding: 20px;
  color: #372abf;
}

h2 {
  padding-bottom: 8px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  margin-top: 15px;
}

.contact-info {
  padding: 10px;
}

.mail {
  font-size: 14px;
}

.delete {
  border: none;
  outline: none;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.add-contact {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.input-name {
  width: 150px;
  border: none;
  outline: none;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.input-mail {
  width: 150px;
  border: none;
  outline: none;
  background-color: lightgray;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

.button-add {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #372abf;
}
